@use "sass:map";
@import "../color";

.site-main {
  .form-container {
    margin: 60px 112px 0px 112px;
    border: 1px solid map.get($colors, "primary-100");
    border-radius: 24px;
    background-color: $white;
  }
}

.form-section-wrapper {
  padding: 64px;
}
.form-title {
  font-size: 48px;
  font-weight: 500;
  line-height: 52px;
  letter-spacing: -0.5px;
  text-align: left;
  color: map.get($colors, "neutral-500");
}
.form-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 48px auto 0 auto;
  gap: 30px;
  > * {
    display: flex;
    flex-direction: column;
  }
  label {
    font-weight: 500;
    line-height: 26px;
    text-align: left;
    color: map.get($colors, "neutral-500");
  }
  input,
  select,
  textarea {
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    height: 56px;
    background-color: #f8f9f9;
    border-radius: 8px;
    margin-top: 6px;
    padding: 0 32px;
  }

  textarea {
    padding: 16px 32px;
    font-family: inherit;
  }
}

.form-interest {
  position: relative;
  select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow in WebKit browsers */
    -moz-appearance: none; /* Remove default arrow in Firefox */
  }

  select,
  select option {
    text-transform: capitalize;
  }

  &::after {
    content: "▼";
    position: absolute;
    top: 60%;
    right: 20px;
    font-size: inherit;
    color: inherit;
    pointer-events: none;
  }
}

.form-industry,
.form-message,
.form-interest {
  grid-column: span 2;
}

@media screen and (min-width: 788px) and (max-width: 1279px) {
  .site-main {
    .form-container {
      margin: 56px 16px 0px 16px;
    }
  }
}

@media screen and (max-width: 787px) {
  .site-main {
    .form-container {
      margin: 56px 16px 0px 16px;
    }
  }
  .form-industry,
  .form-message,
  .form-interest {
    grid-column: span 1;
  }

  .form-section-wrapper {
    padding: 24px;
    .form-title {
      font-size: 22px;
      font-weight: 500;
      line-height: 28px;
      letter-spacing: -0.26px;
      text-align: left;
    }
    .form-info {
      grid-template-columns: repeat(1, 1fr);
      margin-top: 24px;
      gap: 20px;

      label {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.23px;
        text-align: left;
      }
      input,
      select,
      textarea {
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.23px;
        text-align: left;
        height: 40px;
      }
      .form-message {
        textarea {
          height: 168px !important;
        }
      }
    }
  }
}
