@use "sass:map";
@import "../color";

.identity-container {
  position: relative;
  // padding: 50px;
.identity-section-wrapper{
  padding: 60px 100px;
}
  .section-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .identity-title-section {
    width: 85%;
    .title {
      margin: 30px 0px;
      font-size: 56px;
        line-height: 60px;
        font-weight: 500;
    }

    .description {
      margin: 0px;
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      color: map-get($colors, "neutral-300");
      width: 72%;
    }
  }

  .achievement {
    display: flex;
    gap: 10px;
    justify-content: space-around;
    margin-top: 50px;
    flex-wrap: wrap;

    .achievement-item {
      width: 280px;
      height: 280px;
      border-radius: 56%;
      background-color: rgba(white, 0.5);
      border: 1px solid white;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;

      .statistics {
        font-weight: 400;
        font-size: 96px;
        line-height: 76px;
        transform: translateY(100%);
      }

      .statistics-description {
        text-align: center;
        width: 60%;
        font-weight: 400;
        font-size: 15px;
        line-height: 24px;
        transform: translateY(75px);
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .identity-container {
    padding: 50px 12px;
    .identity-title-section {
      .title {
        margin: 30px 0px;
        font-size: 48px;
        line-height: 52px;
        font-weight: 500;
      }

      .description {
        margin: 0px;
        font-size: 18px;
        line-height: 26px;
      }
    }

    .achievement {
      .achievement-item {
        width: 200px;
        height: 200px;

        .statistics {
          font-size: 56px;
          line-height: 60px;
        }

        .statistics-description {
          width: 80%;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .identity-container {
    padding: 50px 12px;

    .section-name {
      font-size: 13px;
      line-height: 18px;
    }

    .identity-title-section {
      width: 100%;
      .title {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
      }

      .description {
        font-size: 17px;
        line-height: 22px;
        text-align: center;
      }
    }

    .achievement {
      .achievement-item-wrapper {
        width: 45%;
        display: flex;
        justify-content: center;
        align-items: center;

        .achievement-item {
          width: 170px;
          height: 170px;

          .statistics {
            font-size: 48px;
            line-height: 52px;
          }

          .statistics-description {
            width: 80%;
            font-size: 15px;
            line-height: 20px;
          }
        }
      }
    }
  }
}
