.member-container {
  position: relative;
  padding: 50px;

  .section-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .member-title-section {
    width: 100%;
    .title {
      margin: 30px 0px;
      font-size: 56px;
      line-height: 60px;
      font-weight: 500;
      letter-spacing: -3px;
    }

    .description-container {
      display: flex;
      align-items: center;
      .description-1 {
        margin: 0px 16px 0px 0px;
        font-size: 56px;
        line-height: 60px;
        font-weight: 500;
      }

      .description-2 {
        margin: 0px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: map-get($colors, "neutral-300");
      }
    }
  }

  .skills-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 62px;

    .skills-item {
      width: 28%;
      border: 1px solid white;
      border-radius: 24px;
      padding: 20px;

      .skills-icon {
        padding: 12px 0px;
        i {
          width: 64px;
          height: 64px;
          background-color: white;
          border-radius: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: map-get($colors, "primary-500");
        }
      }

      .skills-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-top: 20px;
      }

      .skills-description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }
    }
  }
}

.member-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // column-width: calc(100% - 120px);
    margin-top: 50px;
    justify-items: center;
    gap: 32px;
  }
}
.member-item {
  width: calc(100% - 8px);
  border-radius: 24px;
  overflow: hidden;
  background-color: $white;
}

.member-desc {
  margin-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.member-intro {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  .member-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .member-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}

.member-exp {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.member-image {
aspect-ratio: 1;
border-radius: 24px;
overflow: hidden;

  img {
    object-fit: cover;
    border-radius: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .member-container {
    padding: 50px 12px;
    .member-title-section {
      .title {
        margin: 30px 0px;
        font-size: 48px;
        line-height: 52px;
        font-weight: 500;
      }

      .description-container {
        .description-1 {
          font-size: 48px;
          line-height: 52px;
        }

        .description-2 {
          margin: 0px;
          font-size: 18px;
          line-height: 26px;
        }
      }
    }

    .skills-section {
      .skills-item {
        width: 25%;

        .skills-icon {
          i {
            width: 48px;
            height: 48px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .member-container {
    padding: 50px 12px;

    .section-name {
      font-size: 13px;
      line-height: 18px;
    }

    .member-title-section {
      width: 100%;
      .title {
        font-size: 28px;
        line-height: 34px;
        text-align: center;
      }

      .description-container {
        justify-content: center;
        .description-1 {
          font-size: 34px;
          line-height: 41px;
        }

        .description-2 {
          font-size: 17px;
          line-height: 22px;
        }
      }
    }

    .skills-section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 10px;

      .skills-item {
        width: 90%;

        .skills-icon {
          i {
            width: 48px;
            height: 48px;
            font-size: 20px;
          }
        }

        .skills-title {
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
        }

        .skills-description {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
  }
}
