.member-container {
  position: relative;
  // padding: 50px;
  .member-section-wrapper {
    padding: 60px 100px;
    .gradient-background-v2 {
      top: -20%;
    }
  }
  .section-name {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }

  .member-title-section {
    width: 100%;
    .title {
      margin: 30px 0px;
      font-size: 56px;
      line-height: 60px;
      font-weight: 500;
      letter-spacing: -3px;
    }

    .description-container {
      display: flex;
      align-items: center;
      .description-1 {
        margin: 0px 16px 0px 0px;
        font-size: 56px;
        line-height: 60px;
        font-weight: 500;
      }

      .description-2 {
        margin: 0px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 400;
        color: map-get($colors, "neutral-300");
      }
    }
  }

  .skills-section {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin-top: 60px;

    .skills-item {
      flex: 1 1 30%;
      border: 1px solid white;
      border-radius: 24px;
      padding: 20px;

      .skills-icon {
        padding: 12px 0px;
        width: 20%;
        i {
          width: 64px;
          height: 64px;
          background-color: white;
          border-radius: 56px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 24px;
          color: map-get($colors, "primary-500");
        }
      }

      .skills-title {
        font-size: 24px;
        line-height: 32px;
        font-weight: 500;
        margin-top: 12px;
        margin-bottom: 8px;
      }

      .skills-description {
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
      }
    }
  }
}

.member-list {
  display: flex;
  justify-content: center;
  align-items: center;

  &-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    // column-width: calc(100% - 120px);
    margin-top: 60px;
    justify-items: center;
    gap: 32px;
  }
}
.member-item {
  width: calc(100% - 0px);
  border-radius: 24px;
  overflow: hidden;
  background-color: $white;
  cursor: pointer;
}

.member-desc {
  margin-top: 32px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 16px;
}

.member-intro {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
  .member-name {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
  }

  .member-title {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
  }
}

.member-exp {
  display: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 16px;
}

.member-image {
  aspect-ratio: 1;
  border-radius: 24px;
  overflow: hidden;

  img {
    object-fit: cover;
    border-radius: 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .member-container {
    .member-section-wrapper {
      padding: 56px 40px;
    }
    // padding: 50px 12px;
    .member-title-section {
      .title {
        margin: 30px 0px;
        font-size: 40px;
        line-height: 52px;
        font-weight: 500;
      }

      .description-container {
        .description-1 {
          font-size: 48px;
          line-height: 52px;
        }

        .description-2 {
          margin: 0px;
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
  .member-container .skills-section {
    display: flex;
    margin-top: 32px;
    gap: 12px;
    position: relative;
    overflow: hidden; /* Hide the default scrollbar */
    scroll-snap-type: x mandatory; /* Snap to each item */
    scroll-behavior: smooth; /* Smooth scroll behavior */
    -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */

    .skills-item {
      // flex: 0 0 75%;
      // box-sizing: border-box;
      // padding: 24px 16px;
      // min-width: 231px;
      // text-wrap: wrap;
      // transition: background-color 0.3s ease;

      .skills-icon {
        padding: 0;
        margin-bottom: 12px;
        i {
          width: 48px;
          height: 48px;
          font-size: 20px;
        }
      }

      .skills-title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
      }

      .skills-description {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }
  .member-list-grid {
    gap: 20px;
  }
}

@media screen and (max-width: 767px) {
  .member-container {
    padding: 0;
    .member-section-wrapper {
      padding: 32px 16px;
    }

    .section-name {
      font-size: 13px;
      line-height: 18px;
    }

    .skills-section {
      display: flex;
      margin-top: 32px;
      gap: 12px;
      position: relative;
      overflow: hidden; /* Hide the default scrollbar */
      scroll-snap-type: x mandatory; /* Snap to each item */
      scroll-behavior: smooth; /* Smooth scroll behavior */
      -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */

      .skills-item {
        flex: 0 0 65%;
        box-sizing: border-box;
        padding: 24px 16px;
        min-width: 231px;
        text-wrap: wrap;
        transition: background-color 0.3s ease;

        .skills-icon {
          padding: 0;
          margin-bottom: 12px;
          i {
            width: 48px;
            height: 48px;
            font-size: 20px;
          }
        }

        .skills-title {
          font-size: 20px;
          line-height: 28px;
          font-weight: 500;
        }

        .skills-description {
          font-size: 15px;
          line-height: 20px;
        }
      }
    }
    .member-list {
      display: block;
    }
    .member-list-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-top: 32px;
      gap: 20px;
      position: relative;
      overflow: hidden; /* Hide the default scrollbar */
      scroll-snap-type: x mandatory; /* Snap to each item */
      scroll-behavior: smooth; /* Smooth scroll behavior */
      -webkit-overflow-scrolling: touch; /* Enable momentum scrolling on iOS */

      .member-item {
        // flex: 0 0 100%;
        box-sizing: border-box;
        text-wrap: wrap;
        transition: background-color 0.3s ease;
        border-radius: 10px;
        .member-image {
          border-radius: 10px;
        }
        img {
          border-radius: 10px;
        }
        .member-desc {
          padding: 8px;
          margin-top: 0;

          .member-intro {
            margin-top: 0;
          }
          .member-name {
            font-weight: 600;
            font-size: 14px;
            line-height: 24px;
          }
          .member-title {
            font-size: 12px;
            line-height: 14px;
          }
        }
      }
    }
    .member-title-section {
      .title {
        font-size: 28px;
        line-height: 34px;
        font-weight: 500;
        letter-spacing: -0.5px;
        text-align: left;
      }
    }
  }

  .member-exp {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .member-container .member-list-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
