@use "sass:map";
@import "../color";

.mission-container {
  position: relative;
  padding: 50px 12px;

  .mission-section-wrapper {
    background: linear-gradient(120deg, #f7fcff, #e4f2fc);
    border-radius: 24px;
    padding: 38px;

    .section-name {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .mission-title-section {
      width: 80%;
      .title {
        margin: 30px 0px;
        font-size: 68px;
        line-height: 72px;
        font-weight: 500;
      }

      .description {
        margin: 0px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: map-get($colors, "neutral-300");
      }
    }

    .mission-details-section {
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      margin-top: 20px;
      gap: 20px 0px;

      .mission-details {
        position: relative;
        width: 43%;
        padding: 20px;
        border-radius: 24px;
        background-color: rgba(#fff, 0.4);

        .mission-details-index {
          position: absolute;
          top: 10%;
          right: 6%;
          font-size: 28px;
          line-height: 36px;
          font-weight: 500;
        }

        .mission-details-title {
          font-size: 28px;
          line-height: 36px;
          font-weight: 500;
        }

        .mission-details-content {
          font-size: 16px;
          line-height: 24px;
          font-weight: 400;
          color: map-get($colors, "neutral-400");
        }

        .mission-details-action {
          width: 100%;
          display: flex;
          justify-content: end;
          a {
            border-radius: 56%;
            width: 56px;
            height: 56px;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .mission-container {
    .mission-section-wrapper {
      .mission-title-section {
        .title {
          margin: 30px 0px;
          font-size: 48px;
          line-height: 52px;
          font-weight: 500;
        }

        .description {
          margin: 0px;
          font-size: 18px;
          line-height: 26px;
        }
      }

      .mission-details-section {
        .mission-details {
          .mission-details-index {
            font-size: 24px;
            line-height: 32px;
          }

          .mission-details-title {
            font-size: 24px;
            line-height: 32px;
          }

          .mission-details-action {
            a {
              width: 48px;
              height: 48px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .mission-container {
    .mission-section-wrapper {
      padding: 12px;
      .section-name {
        font-size: 13px;
        line-height: 18px;
      }

      .mission-title-section {
        width: 100%;
        .title {
          font-size: 28px;
          line-height: 34px;
          text-align: center;
        }

        .description {
          font-size: 17px;
          line-height: 22px;
          text-align: center;
        }
      }

      .mission-details-section {
        display: flex;
        flex-direction: column;
        align-items: center;

        .mission-details {
          width: 90%;

          .mission-details-index {
            font-size: 28px;
            line-height: 36px;
          }

          .mission-details-title {
            font-size: 28px;
            line-height: 36px;
          }

          .mission-details-content {
            font-size: 16px;
            line-height: 24px;
          }

          .mission-details-action {
            a {
              border-radius: 56%;
              width: 56px;
              height: 56px;
            }
          }
        }
      }
    }
  }
}
