@use "sass:map";
@import "../color";

.task-completed-container {
  position: relative;
  // padding: 50px 12px;

  .task-completed-section-wrapper {
    background: linear-gradient(120deg, #f7fcff, #e4f2fc);
    border-radius: 24px;
    padding: 60px 100px;

    .section-name {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }

    .task-completed-title-section {
      width: 80%;
      .title {
        margin: 30px 0px;
        font-size: 56px;
        line-height: 60px;
        font-weight: 500;
      }

      .description {
        margin: 0px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 300;
        color: map-get($colors, "neutral-300");
      }
    }

    .task-item-section {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .task-item-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px;
      margin-top: 50px;

      .task-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 24px;
        background-color: rgba(#fff, 0.5);
        transition: background-color 1s ease, box-shadow 1s ease, border 1s ease;

        &:hover {
          background-color: $white;
          box-shadow: 0px 0px 10px 10px rgba($color: #000000, $alpha: 0.05);

          .task-details-action {
            a {
              transition: background-color 1s ease, color 1s ease,
                transform 1s ease;
              background-color: map.get($colors, "primary-500") !important;
              color: $white !important;
              transform: rotate(0deg) !important;
            }
          }
        }
        .task-image {
          width: 100%;
          height: 288px;

          img {
            border-radius: 24px;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        .task-details {
          padding-bottom: 0 !important;
          padding: 32px;

          // height: 50%;

          .task-title {
            font-weight: 500;
            font-size: 28px;
            line-height: 36px;
            margin-top: 0px;
            margin-bottom: 20px;
          }

          .task-description {
            margin: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 24px;
            color: map-get($colors, "neutral-400");
          }
        }
      }
    }
  }
  .task-details-action {
    display: flex;
    justify-content: end;
    padding: 32px;

    a {
      border-radius: 56%;
      width: 56px;
      height: 56px;
      background-color: $white;
      display: flex;
      justify-content: center;
      align-items: center;
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .task-completed-container {
    .task-completed-section-wrapper {
      padding: 56px 40px;
      .task-completed-title-section {
        .title {
          margin: 30px 0px;
          font-size: 48px;
          line-height: 52px;
          font-weight: 500;
        }

        .description {
          margin: 0px;
          font-size: 18px;
          line-height: 26px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .task-completed-container {
    .task-completed-section-wrapper {
      padding: 32px 16px;

      .section-name {
        font-size: 13px;
        line-height: 18px;
      }

      .task-completed-title-section {
        width: 100%;
        .title {
          font-size: 28px;
          line-height: 34px;
          font-weight: 500;
          letter-spacing: -0.5px;
          text-align: left;
          margin-top: 20px;
          margin-bottom: 24px;
        }

        .description {
          font-size: 17px;
          line-height: 22px;
          text-align: left;
          font-weight: 400;
          letter-spacing: -0.43px;
        }
      }

      .task-item-section {
        display: flex;
        flex-direction: column;

        .task-item-grid {
          grid-template-columns: repeat(1, 1fr);
          margin-top: 32px;
        }

        .task-item {
          width: 100%;
          height: 100%;
          border-radius: 24px;
          .task-image {
            width: 100%;
            height: auto;

            img {
              border-top-left-radius: 24px;
              border-top-right-radius: 24px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }

          .task-details {
            padding: 20px;
            height: 50%;

            .task-title {
              font-weight: 500;
              font-size: 28px;
              line-height: 36px;
            }

            .task-description {
              margin: 0;
              font-weight: 300;
              font-size: 16px;
              line-height: 24px;
              color: map-get($colors, "neutral-400");
            }
          }
          .task-details-action {
            a {
              background-color: map.get($colors, "primary-500");
              color: $white;
              transform: rotate(0deg);
            }
          }
        }
      }
    }
  }
}
