@use "sass:map";
@import "./color";

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  font-family: "Be Vietnam Pro", sans-serif;
  color: map.get($colors, "neutral-500");
  background-color: #f8f9f9;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
}
