.header {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .website-name {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }

  .navigation {
    display: flex;
    align-items: flex-start;
    gap: 12px;

    a {
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
    }
  }
}

#header-navigation-menu {
  display: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header {
    .navigation {
      display: none;
    }
  }

  #header-navigation-menu {
    display: initial;
  }

  .footer-vision-content,
  .footer-privacy {
    width: 45%;
  }

  .footer-contact-information,
  .footer-social-media {
    width: 35%;
  }

  .footer-navigation-menu,
  .footer-empty-block {
    width: 20%;
  }
}

@media screen and (max-width: 767px) {
  #header-contactBtn {
    display: none;
  }

  .header {
    .navigation {
      display: none;
    }
  }

  #header-navigation-menu {
    display: initial;
  }

  .modal-wrapper {
    .modal-large {
      left: 4vw;
    }
  }

  .modal-navigation-menu {
    text-align: center;
  }
}
