@use "sass:map";
@import "./color";

/* modal */
.modal-wrapper {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(157, 157, 157, 0.7);
}

.modal-wrapper {
  .modal {
    z-index: 10001;
    position: absolute;
    background-color: white;
    border-radius: 24px;
    padding: 48px;
  }

  .modal-medium {
    display: flex;
    flex-direction: column;
    width: 40vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
  }

  .modal-large {
    width: 80vw;
    top: 8vh;
    left: 6vw;
  }
}

.modal-closeBtn {
  width: 30px;
  height: 30px;
  border: 1px solid map.get($colors, "primary-500");
  border-radius: 500px;
  color: map.get($colors, "primary-500");
}
/* End Modal */

.navMenu-logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}

.navMenu-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navMenu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navMenu-item {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

a {
  text-decoration: none;
  color: black;
}

.navigation-contact-btn {
  margin-top: 15px;
  width: 100%;
}

@media screen and (max-width: 1279px) {
  .modal-wrapper .modal-large {
    left: 4vw;
  }

  .navMenu-list {
    text-align: center;
  }
}
