* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

@import "components/color";
@import "components/header";
@import "components/footer";
@import "components/common";
@import "components/global";
@import "components/button";
@import "components/modal";
@import "components/animation";
@import "components/gradient-background";